/*****************
    root
******************/
:root {
	--fontFamily: 'Roboto', sans-serif;
	--redColor: #FB0707;
	--greenColor: #00FF08;
	--blueColor: #0044FF;
	--fontColor: #0090FF;
	--navColor: #9F9EB4;
	--shadowNavColor: #03FFFF;
	--buttonColor: #0090FF;
	--transition: 0.5s ease;
	--transitionImg: 1.5s ease;
	--whiteColor: #fff;
	--headingColor: #444444;
	--cubeColor: #B8B8B8;
	--backgroundColor: #F8F8F8;
	--logoBackground: #00174d;
	--borderColor: #C2C2C2;
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/*****************
    header
******************/
body {
	font-family: var(--fontFamily);
	font-size: 16px;
	background-color: var(--backgroundColor);
}

header {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 876px;
	background-image: url(../img/hero1.png);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

logo {
	display: inline-block;
	height: 120px;
}

header logo h1 {
	font-size: 5rem;
	font-weight: 800;
	color: var(--whiteColor);
	text-transform: uppercase;
	margin: 0;
}

header logo h1 .logo {
	color: var(--buttonColor);
	font-size: 1rem;
	text-align: center;
	text-shadow: 2px 2px 7px var(--whiteColor);
}

header logo h5 {
	font-size: 0.8rem;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

}

nav {
	display: flex;
	height: 120px;
}

nav a {
	color: var(--navColor);
	text-decoration: none;
	margin: 0 40px;
	font-size: 0.875rem;
	line-height: 120px;
	text-transform: uppercase;

}

header i {
	margin-top: 40px;
	font-size: 2.875rem;
	color: var(--navColor);
	display: none !important;
	margin-top: 40px;
	cursor: pointer;
}

nav a:hover {
	color: var(--shadowNavColor);
	cursor: pointer;
	transition: var(--transition);
	transform: scale(1.2);
	font-weight: bold;
}

header .container section {
	width: 1200px;
	margin-left: 13%;
	margin-bottom: 5%;
	font-size: 6rem;
	flex-basis: 100%;
	font-weight: lighter;
	color: var(--whiteColor);


}

header .container section span {
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0.3rem 0.3rem 0.6rem 0.3rem;

}

header .container section .head1 {
	color: var(--shadowNavColor);
	background-color: rgba(0, 0, 0, 0.0);
}

.active {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 0 80%;
}

.active a {
	margin: 0 20px;
	line-height: 3;
	font-size: 0.875rem;
	margin-left: 40%;
}


.active i {
	line-height: 1;
	margin-top: 0;
}
.headNone{
	display: none;
}

/*****************
    main
******************/
main {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	background-color: var(--backgroundColor);
}

main h2 {
	font-size: 3.75rem;
	font-weight: bold;
	color: var(--headingColor);
	margin-top: 4.1875rem;
}

main h5 {
	color: var(--headingColor);
	margin-bottom: 3.375rem;
}

/*****************
   section What we doo
******************/
main section {
	background-color: var(--backgroundColor);
}

section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box {
	background-color: #fff;
	flex-basis: 550px;
	justify-content: space-between;
	display: flex;
	margin-top: 4.75rem;
	padding: 20px 40px 20px 20px;

}

aside {
	max-width: 300px;
}

section .box img {
	width: 4.55rem;
	height: 4.55rem;
	display: inline-block;
	margin: auto;
}

main h3 {
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--headingColor);
	text-align: left;
}

section aside p {
	font-size: 0.875rem;
	color: var(--headingColor);
	text-align: left;
	margin: 1rem 0;
}

section aside h6 {
	font-size: 0.875rem;
	text-transform: uppercase;
	color: var(--fontColor);
	text-decoration: none;
	text-align: left;
	margin-top: 1.1825rem;
}

/*****************
  section #project
******************/
#project,
.left,
.right {
	display: flex;
	justify-content: space-between;
}

#project {
	flex-wrap: wrap;
}

.right,
.left {
	flex-basis: 48%;
	flex-direction: column;
	height: 920px;
	margin: 0;
}

.cube {
	width: 100%;
	height: 27.5rem;
	background-image: url(../img/workers2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: 120%;
	position: relative;

}

.cube:hover {
	animation-name: skalling;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	cursor: pointer;
}

.rect {
	width: 100%;
	height: 12.5rem;
	background-image: url(../img/workers2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.rect:hover {
	animation-name: skalling1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	cursor: pointer;
}

.bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-around;
}

.bottom p {
	color: #fff;
	line-height: 5rem;
	font-weight: bold;
}

.bottom span {
	color: #fff;
	line-height: 5rem;
}

/*****************
  section #ABOUT US
******************/
#AboutUs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	
}

#AboutUs article {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 0 20px 0;
	margin: 0 20px;
	flex-wrap: wrap;
}

#AboutUs article {
	flex-basis: 28%;
	margin-bottom: 30px;
	background-color: var(--whiteColor);
}

#AboutUs article img {
	width: 100%;

}

#AboutUs article p {
	width: 100%;
	text-align: left;
	padding: 0 20px;
	margin: 0;
	color: var(--headingColor);
	font-size: 1rem;
}

#AboutUs article h3 {
	padding: 0 20px;
	margin: 30px 0;
	font-size: 1.7rem;
}

#AboutUs article h6 {
	font-size: 0.875rem;
	text-transform: uppercase;
	color: var(--fontColor);
	text-decoration: none;
	text-align: left;
	margin-top: 1.1825rem;
	padding: 0 20px;
}

#AboutUs article h6:hover {
	cursor: pointer;
}

/*****************
  section #Find Us
******************/
#findUs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#FindUs article {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: var(--headingColor);
	padding: 20px 10px;
}

#FindUs logo{
flex-basis: 46%;
}

#FindUs .contact {
	flex-basis: 50%;
}

#FindUs article logo h1 {
	font-size: 5rem;
	font-weight: 800;
	color: var(--whiteColor);
	text-transform: uppercase;
	margin: 0;
	background: var(--logoBackground);
	border-radius: 6px;
	padding: 20px 10px;
}

#FindUs article logo h1 .logo {
	color: var(--buttonColor);
	font-size: 1rem;
	text-align: center;
	text-shadow: 2px 2px 7px var(--whiteColor);
}

#FindUs article logo h5 {
	font-size: 0.8rem;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

}

#FindUs article logo {
	height: 300px;
	padding: 15px;
}

#FindUs article .contact textarea {
	display: block;
	width: 100%;
	margin: 20px 0;
	height: 180px;

}

.contact {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#FindUs article .contact label {
	font-size: 1rem;
	display: block;
	text-align: left;
}

#FindUs article .contact input {
	display: block;
	margin-top: 10px;
	width: 250px;
}

#FindUs button {
	display: block;
	font-size: 1.5rem;
	margin: 20px 0;
	border: none;
	padding: 6px;
	color: var(--buttonColor);
	padding-left: 0;
	text-align: left;
	width: 240px;

}

#FindUs button:hover {
	cursor: pointer;
}

section article logo p {
	color: var(--headingColor);
	text-align: left;
	margin-top: 0;
	padding-top: 0;


}

section article logo h6 {
	color: var(--headingColor);
	text-align: left;
	margin-top: 0;
	font-weight: bold;
	font-size: 1rem;
}

.message,
.text {
	position: relative;
	padding: 0;
	margin-top: 22px;
}

.message input,
.text textarea {
	border: 2px solid var(--borderColor);
}

.message span {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 8px;
	color: var(--cubeColor);
}

.text span {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 8px;
	color: var(--cubeColor);
	margin-top: 15px;
}

.contact input {
	height: 40px;
}

.text textarea {
	height: 200px;
	overflow-y: scroll;

}

.message input:focus ~ span {
	transform: translateX(-10px) translateY(-35px);
	color: var(--headingColor);
	font-weight: bold;
	font-size: 1.3rem;
	transition: var(--transition)
}

.text textarea:focus ~ span {
	transform: translateX(-10px) translateY(-40px);
	color: var(--headingColor);
	font-weight: bold;
	font-size: 1.3rem;
	transition: var(--transition)
}
iframe {
	width: 100%;
}
/*****************
 footer
******************/
footer {
	height: 100px;
	text-align: center;
	background-color: var(--backgroundColor);
}

footer p {
	line-height: 100px;
}


/*****************
 animations
******************/
@keyframes skalling {
	from {
		background-size: 120%;
	}

	to {
		background-size: 150%;
	}
}

@keyframes skalling1 {
	from {
		background-size: 100%;
	}

	to {
		background-size: 150%;
	}

	;
}

/*****************
responsive
******************/
@media (max-width:1200px) {
	main {
		width: 100%;
	}

}

@media (max-width:1560px) {
	.container {
		width: 1024px;
	}

	header {
		height: 80vh;
		width: 100%;
	}

	header .container section {
		font-size: 4rem;
		margin: auto;
	}
}

@media (max-width:1024px) {
	header .container section {
		font-size: 3.5rem;
		margin: auto;
		justify-content: flex-start;
		padding-left: 13%;
	}

	nav a {
		margin: 0 20px;
	}

	header .container {
		justify-content: space-around;
	}

	.container {
		width: 100%;
	}

	.box {
		flex: 0 0 100%;
		justify-content: center;
	}

	section .box img {
		margin: 30px;
	}
}

@media (max-width:769px) {
	header .container section {
		padding-left: 7%;
	}

	header i {
		display: inline-block !important;
	}

	header nav {
		display: none;
	}
	header nav a{
		font-weight: bold;
	}

	header .container {
		justify-content: space-around;

	}

	.box {
		flex: 0 0 100%;
		justify-content: center;
	}

	#AboutUs {
		justify-content: center;
	}

	#AboutUs article {
		flex-basis: 100%;
	}
	.left, .right{
		flex: 0 0 100%;
		margin-bottom: 40px;
	}
}

@media (max-width:550px) {
	header .container section span {
		margin: 5px;
		font-size:1.8rem;
	}

	header {
		height: 50vh;
	}
}
@media (max-width:900px){
	#findUs article .logo,#findUs article .contact{
		flex: 0 0 100%;
	}
	#FindUs .contact {
	flex-basis: 100%;
}
}
